<div class="col-md-8">

  <h4>Products View</h4>



  <product-list
    products       = "product.products"
    select-product = "product.selectProduct(productId)">
  </product-list>

  <product-form
    select-product      = "product.selectProduct(productId)"
    selected-product    = "product.selectedProduct"
    new-product         = "product.createProduct(myProduct)"
    update-product      = "product.updateProduct(myProduct)"
    remove-product      = "product.removeProduct(productId)"
    soft-remove-product = "product.softRemoveProduct(productId)">
  </product-form>

</div>