.test-view
  background: #0f0f0f
  color: #d03f00
  border 5px solid #4f2f77
  margin-top 5px

.buttons
  margin: 200px 20px 100px 20px
  width 15%
  table-layout fixed
  border-collapse collapse

.test-text
  margin: 10% 0.5% 0% 0.5%

.test-title
  text-decoration: underline

.divide
  border-left 5px #4f2f77 solid

.module-btns
  margin 20px 20px 100px 20px
  width 30%
  table-layout fixed
  border-collapse collapse
  background-color #d03f00