<div>
  <div class="center">
    <button
      class="btn btn-primary"
      ng-click="toggleMenu()">
      <span ng-if="!hideMenu">Ocultar menu de moviles</span>
      <span ng-if="hideMenu">Mostrar menu de moviles</span>
    </button>
  </div>
  <br><br>
  <div >
    <div
      ng-class="!hideMenu ? 'col-xs-8' : 'col-xs-12'">
      <ui-gmap-google-map
        center="map().center"
        zoom="map().zoom"
        draggable="true"
        options="options"
        bounds="map().bounds"
        id="map_canvas">
        <ui-gmap-polyline
          ng-repeat="line in polylines"
          path="line.path"
          stroke="line.stroke"
          visible='line.visible'
          geodesic='line.geodesic'
          fit="true"
          editable="line.editable"
          draggable="line.draggable"
          icons='line.icons'>
        </ui-gmap-polyline>
        <ui-gmap-markers
          models="markers"
          coords="'self'"
          icon="'icon'">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
    <div
      class="col-xs-4"
      ng-show="!hideMenu">
      <div>
       <div>
         <div class="col-xs-6">
           <button
             class="btn btn-primary"
             type="button"
             ng-click="selectAllMobiles()">
             <span>Seleccionar todos</span>
           </button>
         </div >
         <div class="col-xs-6">
           <button
             class="btn btn-primary"
             type="button"
             ng-click="deselectAllMobiles()">
             <span>Deseleccionar todos</span>
           </button>
         </div>
       </div>
        <br><br>
      </div>
        <div
          ng-repeat="line in polylines">
          <div>
            <button
              type="button"
              class="btn btn-primary btn-block"
              ng-click="toggleMobile(line)"
              ng-style="{'background-color': line.visible === true? line.stroke.color : white }">
              {{line.id}}
            </button>
          </div>
          <br>
        </div>
    </div>
  </div>

</div>