<div>
  <div>
    <div>
      <div class="col-xs-offset-4">
        <button
          class="btn btn-primary"
          ng-click="toggleMobileMenu()">
          <span ng-if="hideMobileMenu">Ocultar menu de moviles</span>
          <span ng-if="!hideMobileMenu">Mostrar menu de moviles</span>
        </button>

        <button
          class="btn btn-primary"
          ng-click="toggleZoneMenu()">
          <span ng-if="hideZoneMenu">Ocultar menu de zonas</span>
          <span ng-if="!hideZoneMenu">Mostrar menu de zonas</span>
        </button>
      </div>
    </div>
    <br>
    <div
      class="col-xs-6"
      ng-model="initialDateTime">
      Elija inicio de la busqueda:
      <input
        type='text'
        class="form-control"
        id='datetimepicker1'/>
      {{initialDateTime}}
    </div>
    <div
      class="col-xs-6"
      ng-model="endDateTime">
      Elija fin de la busqueda:
      <input
        type='text'
        class="form-control"
        id='datetimepicker2'
        />{{endDateTime}}
    </div>
  </div>
  <br><br>
  <div >
    <div
      ng-class="hideBothMenu ? 'col-xs-12' : 'col-xs-8'">
      <ui-gmap-google-map
        center="map().center"
        zoom="map().zoom"
        draggable="true"
        options="options()"
        bounds="map().bounds"
        id="map_canvas">
        <ui-gmap-polyline
          ng-repeat="mobile in mobiles() | sarDateFilter:initialDateTime:endDateTime"
          path="mobile.coordinates"
          stroke="mobile.stroke"
          visible="mobile.visible"
          fit="false"
          icons="mobile.icons">
        </ui-gmap-polyline>
        <ui-gmap-markers
          ng-repeat="mobile in mobiles()"
          ng-if="mobile.visible"
          models="mobile.coordinates"
          coords="'self'"
          icon="'icon'">
        </ui-gmap-markers>
        <ui-gmap-polygon
          static="true"
          ng-repeat="zone in zones()"
          path="zone.coordinates"
          stroke="zone.stroke"
          visible="zone.visible"
          fill="zone.fill"
          fit="false">
        </ui-gmap-polygon>
      </ui-gmap-google-map>
    </div>
    <div
      class="col-xs-4">
      <div class="col-xs-6"></div>
      <div class="col-xs-6">
        <div ng-show="hideMobileMenu">
          <div>
            <div>
              <div >
                <button
                  class="btn btn-block btn-xs btn-primary"
                  type="button"
                  ng-click="selectAllMobiles()">
                  <span>Seleccionar autos</span>
                </button>
              </div >
              <div>
                <button
                  class="btn btn-block btn-xs btn-primary"
                  type="button"
                  ng-click="deselectAllMobiles()">
                  <span>Deseleccionar autos</span>
                </button>
              </div>
            </div>
          </div>
          <div
            ng-repeat="mobile in mobiles() | sarDateFilter:initialDateTime:endDateTime">
            <div>
              <button
                type="button"
                class="btn btn-block btn-xs btn-group"
                ng-click="toggleMobile(mobile)"
                ng-style="{'background-color': mobile.visible === true? mobile.stroke.color : '#635a4e'}">
                {{mobile.id}}
              </button>
            </div>
          </div>
        </div>

        <div ng-show="hideZoneMenu">
          <div>
            <div>
              <div>
                <button
                  class="btn btn-block btn-xs btn-primary"
                  type="button"
                  ng-click="selectAllZones()">
                  <span>Seleccionar zonas</span>
                </button>
              </div >
              <div>
                <button
                  class="btn btn-block btn-xs btn-primary"
                  type="button"
                  ng-click="deselectAllZones()">
                  <span>Deseleccionar zonas</span>
                </button>
              </div>
            </div>
          </div>
          <div
            ng-repeat="zone in zones()">
            <div>
              <button
                type="button"
                class="btn btn-block btn-xs"
                ng-click="toggleZone(zone)"
                ng-style="{'background-color': zone.visible === true? zone.stroke.color : '#635a4e'}">
                Zona {{zone.id}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>