<div class="container">
  <div class="row">
    <div class="col-md-4">
    <img src="" alt="">
    <span>seleccione una opcion</span>
    <br>
    <span>. . . . . . . . . . . . . . .</span>
    <br>
    <div
      ng-repeat="shortcut in selectedModule().shortcuts"
      class>
      <a ui-sref="shortcut.link">{{shortcut.caption}}</a>
    </div>
  </div>
    <div class="col-md-8">
      <div ng-repeat="function in selectedModule().moduleFunctions">
        <a ui-sref="function.link">{{function.caption}}</a>
      </div>
    </div>
  </div>
  <button
    class="buttons btn btn-primary"
    ng-repeat="button in selectedModule().footer">
    {{button.buttonName}}
  </button>
</div>
