<div class="row">
  <div class="col-md-4">
    <img src="" alt="">
    <span>seleccione una opcion</span>
    <span>. . . . . . . . . . .</span>
    <br>
    <div ng-repeat="shortcut in shortcuts()">
      <a ui-sref="shortcut.link">{{shortcut.caption}}</a>
    </div>
  </div>
  <div class="col-md-8">
    <div ng-repeat="function in moduleFunctions()"></div>
      <a ui-sref="function.link">{{function.caption}}</a>
  </div>
  <div ng-repeat="button in footer()">
    <button class="btn">{{button.buttonName}}</button>
  </div>
</div>
